<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="topnav">
  <a href="{{url_for('page')}}">Home</a>
  <a href="{{url_for('malak')}}">MALAK</a>
  <a class="active" href="{{url_for('gallery')}}">gallery</a>
  <a href="{{url_for('lifestyle')}}">lifestyle</a>
</div>
	<img src="../static/malak1.jpeg" style="padding-left: 25%;" height="500px;" width="auto">
	<img src="../static/malak4.jpeg" style="padding-left: 30%; padding-top: 100px" height="500px;" width="auto">
	<img src="../static/malak3.jpeg" style="padding-left: 25%; padding-top: 200px" height="500px;" width="auto">
	<img src="../static/malak2.jpeg" style="padding-left: 35%; padding-top: 300px" height="500px;" width="auto">
	<p>and most importantly SHE DESERVES TO BE TREATED LIKE A QUEEN</p>
</body>
</html>