<!DOCTYPE html>
<html>
<head>
	<title>FIND MY UNIVERSITY</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body style="background-color:powderblue;">
	<header>
		<!-- <div class="main"> -->
		<div >
			<h1 class="title">MALAKers club</h1>
		</div>
		<!-- </div> -->
		<div class="button">
			<a href="{{url_for('login')}}" class="btn">LOG IN</a>
			<a href="{{url_for('signup')}}" class="btn">SIGN UP</a>
		</div>
	</header>
</body>
</html>