<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="topnav">
	  <a href="{{url_for('page')}}">Home</a>
	  <a href="{{url_for('malak')}}">MALAK</a>
	  <a class="active" href="{{url_for('gallery')}}">gallery</a>
	  <a href="{{url_for('lifestyle')}}">lifestyle</a>
	</div>
	<center><div>
		<p>malak maintains a healthy,consious lifestyle, wether it means doing sports, taking care of her mental health and a healthy eating habit</p>
		<p>malak joined the Vegan family three years ago which was one of the best choices she made.</p>
		<p>malak is a dancer, lately she hasn't been dancing as much as she would've liked to but what can she do?</p>
		<p>MALAK IS LAZY</p>
		<p>malak is a good friend, she cares and gives amazing advice.</p>
		<p>malak is great, go home and think about what you can do to be more like malak.</p>
		<p>and most importantly SHE DESERVES TO BE TREATED LIKE A QUEEN</p>
	</div></center>
	<center><img src="../static/life.png" style="height:250px"></center>
</body>
</html>