<!DOCTYPE html>
<html>
<head>
<style>
	.par
</style>
</head>
<body>
	<div class="topnav">
	 	<a href="{{url_for('page')}}">Home</a>
	 	<a class="active" href="{{url_for('malak')}}">MALAK</a>
	 	<a href="{{url_for('gallery')}}">gallery</a>
	 	<a href="{{url_for('lifestyle')}}">lifestyle</a>
	</div>
	<center><div>
		<p>Malak:19 years and 16 days old
		<P>was born in the french hospital in Nazareth city</p>
		<p>Malak usually wakes up at 8 oclock in the morning, and starts the day by doing a 20 minute yoga session</p>
		<p>Malak's go to lunch is salmon and her go to restaurant is frangelico</p>
		<p>Malak's favorite artist is the amazing Billie Eilish and her fav sonf atm is "everything I wanted"</p>
		<p>Malak has traveled too many times to count (the flex is REAL)</p>
		<p>Malak's favorite cousin is Aya (yes Aya the TA)</p>
		<p>and most importantly SHE DESERVES TO BE TREATED LIKE A QUEEN</p>
	</div></center>
</body>
</html>